DefaultLanguage en-US
AddDefaultCharset UTF-8
RewriteEngine On

#gzip
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/opentype

# For Olders Browsers Which Can't Handle Compression
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>


#Caching
<IfModule mod_expires.c>
# Enable expirations
ExpiresActive On
ExpiresDefault "access plus 1 month"
# Favicon
ExpiresByType image/x-icon "access plus 1 year"
# Images
ExpiresByType image/svg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
# CSS
ExpiresByType text/css "access plus 1 month"
# Javascript
ExpiresByType application/javascript "access plus 1 month"
</IfModule>

# Remove ETags because they're apparently bad for performance
Header unset Pragma
FileETag None
Header unset ETag


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Redirect trailing slash to no trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]




# Remove .php extension from pages
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L,NC]

# Internally add .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+[^/])$ $1.php

# Remove .html extension from pages
RewriteCond %{THE_REQUEST} ^[A-Z]{4,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R,L,NC]

# Internally add .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+[^/])$ $1.html

# Remove .htm
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.htm [NC]
RewriteRule ^ %1 [R,L,NC]

# Internally add .htm
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.htm -f
RewriteRule ^(.+[^/])$ $1.htm




# Redirect 404s to root
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . / [L,R=301]

# Redirect index to root
RewriteCond %{REQUEST_URI} index/? [NC]
RewriteRule . / [L,R=301]




# Force https and www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.([^.]+\.[^.]+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# Force https and no www
# RewriteCond %{HTTPS} off [OR]
# RewriteCond %{HTTP_HOST} ^www\.([^.]+\.[^.]+)$ [NC]
# RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# Force http and www
# RewriteCond %{HTTPS} on [OR]
# RewriteCond %{HTTP_HOST} !^www\.([^.]+\.[^.]+)$ [NC]
# RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

# Force http and no www
# RewriteCond %{HTTPS} on [OR]
# RewriteCond %{HTTP_HOST} ^www\.([^.]+\.[^.]+)$ [NC]
# RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]

</IfModule>
